# License: MIT
# Upstream url: http://pyyaml.org/wiki/PyYAML
# Use: For parsing users.yaml
PyYAML==3.11

# License: MIT
# Upstream url: http://gunicorn.org/
# Use: For wsgi running
gunicorn==19.3.0

# License: MIT
# Upstream url: http://www.gevent.org/
# Use: For concurrency
gevent==1.0.2

# License: MIT
# Upstream url: https://github.com/python-greenlet/greenlet
# Use: For concurrency
greenlet==0.4.9

# License: MIT
# Upstream url: https://github.com/jsocol/pystatsd
# Use: For metrics collection
statsd==3.1

# Flask
# License: BSD
# Upstream url: http://github.com/mitsuhiko/flask/
# Use: For API.
Flask==0.10.1

# Flask Scripting support for Flask
# License: BSD
# Upstream url: http://github.com/techniq/flask-script
# Use: For CLI scripts.
Flask-Script==2.0.5

# Flask extension that configures the Flask application to redirect all
# incoming requests to https
# License: BSD
# Upstream url: https://github.com/kennethreitz/flask-sslify
# Use: For SSL redirection and HSTS
Flask-SSLify==0.1.5

# A Pythonic interface for AWS DynamoDB that supports Python 2 and 3.
# License: MIT
# Upstream url: http://jlafon.io/pynamodb.html
# Use: For DynamoDB storage
pynamodb==1.4.3

# Python HTTP for Humans.
# License: Apache2
# Upstream url: http://python-requests.org
# Use: REST calls to external services
requests==2.8.1

# The modular source code checker: pep8, pyflakes and co
# License: MIT
# Upstream url: http://bitbucket.org/tarek/flake8
flake8==2.4.0

# Our unit testing framework
pytest==2.8.5

boto3==1.9.207
