<div class="alert alert-warning" ng-show="saveError">
  <p>{{ saveError }}</p>
</div>
<div ng-hide="cocAccepted">
  <b>Please read the following policy, then scroll to the bottom and accept to
    continue.</b>

  <h2>Chillits Code of Conduct & Anti-Harassment Policy</h2>

  <h3>PURPOSE</h3>

  <p>The core of this event is our community, and the core of our community is
  trust. We expect that most of the people at our event are worthy of that
  trust. However, sometimes that trust is broken, and, whether malicious or
  not, the resulting effect on others can be detrimental to their mental or
  physical state. It is in order to ensure we can effectively respond to those
  situations that we are laying out some ground rules and expectations around
  behavior.</p>

  <p>This code of conduct outlines our expectations for participant behavior as
  well as the consequences for unacceptable behavior.</p>


  <h3>COMMUNITY PRINCIPLES & EXPECTED BEHAVIOR</h3>

  <p>As a community event, we are dedicated to creating an environment that
  nurtures mutual respect among all participants by providing a harassment-free
  experience for everyone, regardless of gender, gender identity and
  expression, sexual orientation, disability, physical appearance, body size,
  race, or religion.  (And to be clear, this list is in no way meant to be
  exclusive, nor complete, but instead, indicative of the inclusivity and
  diversity we strive to support.</p>

  <p>Help us realize a safe and positive experience for everyone.</p>


  <h3>UNACCEPTABLE BEHAVIOR</h3>

  <p>We do not tolerate harassment of people at our events or in our spaces
  (real or online) in any form. Participants asked to stop any harassing
  behavior are expected to comply immediately.  Anyone violating these rules
  may be sanctioned or expelled (without refund).</p>

  <p>Harassment includes:<br/>
  Physical and/or sexual harassment<br/>
  Inappropriate physical contact<br/>
  Abusive and/or derogatory verbal comments<br/>
  Deliberate intimidation<br/>
  Discriminatory actions<br/>
  Stalking<br/>
  Following<br/>
  Photography or recording of people without their consent<br/>
  Persistent, unwelcome sexual attention</p>

  <h3>CONSEQUENCES OF UNACCEPTABLE BEHAVIOR</h3>

  <p>If a participant engages in unacceptable behavior, whether by the letter
  or spirit of the rules, the organizers and/or event staff may take any action
  they deem appropriate, including expulsion from the event without warning or
  refund.</p>

  <p>If an individual is expelled, they will be required to leave the event as
  soon as it is reasonably safe for them to do so. In the meantime, they may be
  monitored by one of the planners or event staff.</p>


  <h3>WHAT TO DO IF YOU WITNESS OR ARE SUBJECT TO UNACCEPTABLE BEHAVIOR</h3>

  <p>If you are subject to unacceptable behavior, notice that someone else is
  being subject to unacceptable behavior, or have any other concerns, we
  encourage you to attempt to head off the unacceptable behavior before it
  escalates, but only if you feel comfortable / capable of doing so.  Some
  useful questions for checking in with someone when you’re not sure the
  situation is cool: “Are you okay? Is there anything I can do for you?”</p>

  <p>For more serious issues or any situations where you do not feel
  comfortable intervening, please notify the Site Coordinator (SC) or the Site
  Coordinator Assistant (SCA) as soon as possible. They will be the people
  wearing orange vests at any given time.  They will either help you directly
  or help you identify the resources you need and escalate the situation as
  necessary.  The Medical Staff are also available throughout the event, for
  situations that fall into their line of expertise.</p>

  <p>If you wish to report an incident after the event, please contact any one
  or more members of the Incident Reporting Group, listed at the end of this
  document.</p>


  <h3>GUIDING PRINCIPLES</h3>

  <p>1) Enthusiastic participation!</p>

  <p>We all know that “no mean no,” but sometimes being quiet and still means
  “no” too. Or even saying no initially, then saying yes after being
  “convinced” to participate by a partner can mean “no."  There are lots of
  non-verbal cues that indicate someone is really not into what’s
  happening.</p>

  <p>Rather than relying on your correct interpretation of non-verbal cues, aim
  for enthusiastic consent! Yes means yes! Pay attention to your partner(s) and
  keep checking in. Make sure their verbal and physical cues match. Consent
  should be mutual and continuous.</p>


  <p>2) Not everyone is as coherent / sober as they may appear</p>

  <p>This is an event where people play with shifting and expanding their own
  boundaries. Maybe even you! So beware that when pushing your own boundaries,
  you may push into someone else’s. In some cases, crossing another person’s
  boundaries may cause them harm, whether you intended to or not.</p>

  <p>Even enthusiastic consent with someone who isn’t sober is very risky
  territory, both legally and emotionally. Some people enjoy and are okay with
  it, but if you are interacting with someone who you just met or don’t know
  well, consider keeping your interactions in PG/PG-13 territories until you’re
  sure you’ve seen them sober and you’re sure you are on the same page. And if
  it’s someone you do know who is suddenly acting out of character, check in
  with them and try to assess what’s going on.  Better to take time to be sure
  than to cause lasting damage.</p>

  <p>3) Aim to understand, rather than defend and explain</p>

  <p>Any situation involving more than one person is subject to multiple
  interpretations, so if a participant or event staff tells you that you are
  behaving unacceptably, try to understand what they are saying rather than
  getting immediately defensive and explaining how they are wrong. When someone
  comes to you with a concern, if you tell them that they’re interpreting the
  situation incorrectly, it just makes them feel like you haven’t heard them
  and that, somehow, you believe their experience or knowledge of the situation
  is less valid than your own. Lose the ego, learn how your actions were
  perceived, and consider a sincere apology, which can go a long way toward
  diffusing a situation.</p>

  <h3>CHILLITS INCIDENT REPORTING GROUP</h3>

  <p>Note: When contacting anyone in this group about an incident, please
  indicate if there are any other individuals on the committee you are not
  comfortable being involved. They will recuse themselves from the group during
  the discussion of your incident.</p>

  <p>If you have an incident that you would like to report after the event,
  please contact any or all of these individuals:

  Beth Klem (rei@evangelion.org)<br/>
  Hunter Leight (theywhohunt@gmail.com)<br/>
  Ian Ellison (ian23.gm@gmail.com)<br/>
  (If you are interested in helping as a part of this group, please contact Beth Klem)</p>

  <h3>EXTERNAL RESOURCES</h3>

  <p>Rape Abuse and Incest National Network (RAINN) www.rainn.org<br/>
  San Francisco Sex Information (SFSI) Hotline www.sfsi.org (415) 989-SFSI (7374)<br/>
  National Alliance to End Sexual Violence (NAESV) http://endsexualviolence.org<br/>
  Rape Treatment Center  http://www.911rape.org</p>

  <p>Changelog<br/>
  8/9/15 (Beth Klem)<br/>
  -- Removed first paragraph, which alluded to incidents from 2013 that were
  relevant to why we created a code of conduct, but not integral to the code of
  conduct itself. <br/>
  -- Fixed a grammatical typo in the Incident Reporting Group section</p>

  <button class="btn btn-primary has-margin-bottom" ng-click="acceptCOC()">Accept</button>
</div>
<div ng-show="cocAccepted">
<h2>Introduction</h2>

<p>Working the party is fun, so please make sure you leave room for everyone who wants to contribute by signing up for only one shift. Once you have signed up for a shift, check your email for a link to the ticket site. Note that it may take a few hours for the email to arrive.</p>

<h2>General Info</h2>

Please don’t sign up for an SC shift if you’ve never been an SC or SCA before. This is a really important job, and upon their hard-working and impeccably responsible shoulders, the greater chill rests. As such, all SC and SCA shifts are subject to approval by the SC Coordinator, but at minimum, SCs should have at least two Chillits under their belts, and SCAs have been at least once.

Ticketing information will be sent to your email address after signing up. If you don't receive an email within a few hours after signing up, please contact ryan@ryandlane.com.

<h2>Shifts</h2>
<div class="has-margin-bottom-lg" ng-repeat="(sectionName, shiftSection) in shifts">
  <h3>{{ sectionName }}</h3>
  <table class="table">
    <thead>
      <tr>
         <th>Time</th>
         <th>Position</th>
         <th>Name and email</th>
         <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="shift in shiftSection">
      <td>{{ shift.day }}<br/>{{ shift.time }}</td>
      <td>{{ shift.position }}</td>
      <td>{{ shift.name }}<br/>{{ shift.email }}</td>
      <td><a href="#/shift/{{ shift.shift_id }}" ng-hide="shift.email">Sign up</a><a href="#/shift/{{ shift.shift_id }}" ng-show="shift.email">Change</a></td>
    </tbody>
  </table>
</div>
